
.eir-back-image {
	position: relative;

	.back-image{
		min-height: 400px;
	}

	.eir-text-container{
		font-size: 20px;	
		top: 10%;
		position: absolute;
	}

	.eir-text-center{
		width: 40%;
		left: 30%;
		right: 30%;
	}
}

.eir-text-container{
	position: relative;
	left: 15%;
	width: 70%;

}

.eir-vertical-spacer{
	height: 15px;
}

.eir-paragraph{
	padding: 20px 15%;
}

.eir-title{
	font-weight: 800;
	font-size: 20px;
}

.eir-center{
	text-align: center;

}

.eir-right{
	text-align: right;

}

.eir-left{
	text-align: left;

}


img.eir-center{
	margin: 0 auto;
	display: block;
}

.eir-icon{
	padding: 20px 0;
}

.course-wrapper .course-content .vert-mod .eir-list ul{
	list-style-type: none;
}

.back-image{
	object-fit: cover;
}

.eir-title-top.eir-text-container{
	width: 90%;
	top: 5%;
	left: 5%;
}

.eir-title-bottom.eir-text-container{
	top: 85%;
	width: 90%;
	left: 5%;
}

.eir-title-center.eir-text-container{
	width: 90%;
	top: 45%;
	left: 5%;
}

.eir-image-border{
	padding: 30px;
}

@media only screen and (max-width: 768px) {
	.eir-back-image .eir-text-container{
		right: 5%;
		left: 5%;
		top: 10%;
		width: 90%;
	}

	.eir-paragraph{
		padding: 20px 5%;
	}

	.eir-text-container{
		left: 5%;
		width: 90%;
	}

	.eir-title-top.eir-text-container{
		width: 50%;
	}

	.eir-back-image .eir-title-top.eir-text-container{
		top: 5%;
	}
}