
.frigg-back-image {
	position: relative;

	.back-image{
		min-height: 400px;
	}

	.frigg-text-container{
		font-size: 20px;	
		top: 10%;
		position: absolute;
	}

	.frigg-text-center{
		width: 40%;
		left: 30%;
		right: 30%;
	}
}

.frigg-text-container{
	position: relative;
	left: 15%;
	width: 70%;

}

.frigg-vertical-spacer{
	height: 15px;
}

.frigg-paragraph{
	padding: 20px 15%;
}

.frigg-title{
	font-weight: 800;
	font-size: 20px;
}

.frigg-center{
	text-align: center;

}

.frigg-right{
	text-align: right;

}

.frigg-left{
	text-align: left;

}


img.frigg-center{
	margin: 0 auto;
	display: block;
}

.frigg-icon{
	padding: 20px 0;
}

.course-wrapper .course-content .vert-mod .frigg-list ul{
	list-style-type: none;
}

.back-image{
	object-fit: cover;
}

.frigg-title-top.frigg-text-container{
	width: 90%;
	top: 5%;
	left: 5%;
}

.frigg-title-bottom.frigg-text-container{
	top: 85%;
	width: 90%;
	left: 5%;
}

.frigg-title-center.frigg-text-container{
	width: 90%;
	top: 45%;
	left: 5%;
}

.frigg-image-border{
	padding: 30px;
}

@media only screen and (max-width: 768px) {
	.frigg-back-image .frigg-text-container{
		right: 5%;
		left: 5%;
		top: 10%;
		width: 90%;
	}

	.frigg-paragraph{
		padding: 20px 5%;
	}

	.frigg-text-container{
		left: 5%;
		width: 90%;
	}

	.frigg-title-top.frigg-text-container{
		width: 50%;
	}

	.frigg-back-image .frigg-title-top.frigg-text-container{
		top: 5%;
	}
}

/***** Problem elements ***/

.frigg-container-problem {
	padding: 20px;

	.frigg-problem-multiplechoice {
		.frigg-problem-label {
			text-align: center;
			padding: 10px;
		}

		.choicegroup fieldset{
			width: 70%;
			padding: 10px;
			margin: 0 auto;

			label{
				border: none;
				text-align: center;
			}
		}
	}
}

/**** General aspect for problems ***/

.frigg-problem{
	.problem-header{
		display: none;
	}

	.xmodule_display.xmodule_CapaModule .problem-progress{
		display: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit{
		float: none;
	}

	//Show answer and hint buttons
	.action{

		.submit-attempt-container{
			text-align: center;
		}
		.problem-action-buttons-wrapper{
			display: none;
		}
	} 

	//options
	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label,
	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover{
		border: none;
	}

}

/***  Feedback  ***/ 
.frigg-problem{
	
	//Feedback message
	.message{
		text-align: center;
	}

	.xmodule_display.xmodule_CapaModule div.problem .frigg-no-notifications .choicegroup label.choicegroup_correct,
	.xmodule_display.xmodule_CapaModule div.problem .frigg-no-notifications .choicegroup label.choicegroup_incorrect{
		border: none;
	}

	.problem .frigg-no-notification .field .status,
	.problem .frigg-feedback .field label input{
		display: none;
	}
}
