
$white-color: #FFF;
.frigg-back-image {
	position: relative;

	.back-image {
		min-height: 500px;
		width: 100%;
	}

	.frigg-text-container {
		font-size: 20px;	
		top: 10%;
		position: absolute;
	}

	.frigg-text-center {
		width: 40%;
		margin: 0 auto;
		left: 0;
		right: 0;
		// left: 30%;
		// right: 30%;
	}
}

.frigg-text-container {
	position: relative;
	// left: 15%;
	width: 70%;
	left: 0;
	margin: 0 auto;

	.frigg-paragraph {
		padding: 20px 0;
	}

}

.frigg-vertical-spacer {
	height: 15px;
}

.frigg-paragraph {
	padding: 20px 15%;
	line-height: 1.6em !important;
	font-size: 1.2rem;
}


.frigg-title {
	font-weight: 800;
	font-size: 1.6rem;
}

.frigg-center {
	text-align: center;

}

.frigg-right {
	@include text-align(right);
	// text-align: right;
}

.frigg-left {
	@include text-align(left);
	// text-align: left;

}


img.frigg-center {
	margin: 0 auto;
	display: block;
}

.frigg-icon {
	padding: 20px 0;
}

.course-wrapper .course-content .vert-mod .frigg-list ul {
	list-style-type: none;

	li{
		display: flex;
		align-items: baseline;

		img{
			@include margin-right(10px);
			// margin: 0 10px 0 0;
			display: inline-flex;
			height: 100%;
		}

		span{
			display: inline-block;
			line-height: 1.5
		}
	}
}

.back-image {
	object-fit: cover;
}

.frigg-title-top.frigg-text-container {
	width: 90%;
	top: 5%;
	@include left(5%);
	// left: 5%;
}

.frigg-title-bottom.frigg-text-container {
	top: 85%;
	width: 90%;
	@include left(5%);
	// left: 5%;
}

.frigg-title-center.frigg-text-container {
	width: 90%;
	top: 45%;
	@include left(5%);
	// left: 5%;
}

.frigg-image-border {
	padding: 30px;
}

@media only screen and (max-width: 768px) {
	.frigg-back-image .frigg-text-container.frigg-title-top {
		right: 5%;
		left: 5%;
		top: 10%;
		width: 60%;
	}

	.frigg-back-image .frigg-text-container.frigg-title-bottom {
		right: 5%;
		left: 5%;
		top: 70%;
		width: 60%;
	}

	.frigg-back-image .frigg-text-container.frigg-title-center {
		right: 5%;
		left: 5%;
		top: 40%;
		width: 60%;
	}

	.frigg-paragraph {
		padding: 20px 5%;
	}

	.frigg-text-container{
		// left: 5%;
		left: 0;
		margin: 0 auto;
		width: 90%;
	}

	.frigg-left,
	.frigg-right {
		margin: 0;
	}
}

@media only screen and (max-width: 576px){
	.frigg-back-image .frigg-text-container.frigg-title-top,
	.frigg-back-image .frigg-text-container.frigg-title-bottom,
	.frigg-back-image .frigg-text-container.frigg-title-bottom {
		width: 90%;
	}
}

/***** Problem elements ***/

.frigg-container-problem.frigg-problem-multiplechoice {
	padding: 20px;

	
	.frigg-problem-label {
		text-align: center;
		padding: 10px;
	}

	.choicegroup fieldset {
		width: 50%;
		padding: 10px;
		margin: 0 auto;

		label {
			border: none;
			text-align: center;
		}
	}	
}

/**** General aspect for problems ***/

.frigg-problem-1 {
	.problem-header {
		display: none;
	}

	.xmodule_display.xmodule_CapaModule .problem-progress {
		display: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit {
		float: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
		border-radius: 15px;
	}


	//Show answer and hint buttons
	.action {
		.submit-attempt-container {
			text-align: center;
		}
		.problem-action-buttons-wrapper {
			display: none;
		}
	} 

	//options
	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label,
	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover {
		border: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
		font-weight: bold;
		font-family: 'Poppins';
		font-size: 1rem;
		letter-spacing: .5px;
		@include padding-left(10px);
		// padding-left: 10px;
	}

	.xmodule_display.xmodule_CapaModule div.problem .submit-attempt-container .submit {
		height: 80px;
		width: 80px;
		border: none;
		transition: all 0.2s ease;
		padding: 0;
		color: $white-color;
		border-radius: 50%;
		font-weight: bold;
		background: #007DB8;
		font-size: 14px;

		&:hover {
			background-color: #036FBD ;
			border: none;
		}

	}

	.field label.frigg-checked {
		background-color: #0066CC;
		color: $white-color;
	}

	.frigg-problem-label {
		margin-bottom: 30px;

		label {
			font-weight: 600;
			font-size: 1.2rem;
			font-family: 'Poppins';
		}
	}

	.hint-text,
	.hint-label {
		font-size: 1.1rem;
	}

}

/***  Feedback  ***/ 
.frigg-problem-1 {
	
	//Feedback message
	.message {
		text-align: center;
	}

	.xmodule_display.xmodule_CapaModule div.problem .frigg-no-notifications .choicegroup label.choicegroup_correct,
	.xmodule_display.xmodule_CapaModule div.problem .frigg-no-notifications .choicegroup label.choicegroup_incorrect {
		border: none;
	}

	.problem .frigg-no-notifications .field .status,
	.problem .frigg-feedback .field label input,
	.xmodule_display.xmodule_CapaModule .notification {
		display: none;
	}

	.explanation-title,
	.xmodule_display.xmodule_CapaModule .frigg-no-notifications .hint-label {
		display: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action {
		width: auto;
		max-width: 100%;

		.submit-attempt-container {
			.submit {
				@include margin-right(0)
				// margin-right: 0;
			}

			.submission-feedback {
				display: none;
			}
		} 
	}


}

// color Dark
.frigg-dark {
	background: #E6E6E6;
	color: #333;

	.frigg-problem-label label {
		color: #333;
	}

	.field label {
		background: #333366;
		color: $white-color;
	}

	.hint-text {
		color: #0066cc;
	}
} 

// color light

.frigg-light {
	background: $white-color;

	.field label {
		background: #333366;
		color: $white-color;
	}

	.hint-text,
	.hint-label {
		color: #0066cc;
	}
}

@media only screen and (max-width: 768px){
	.frigg-container-problem.frigg-problem-multiplechoice {

		.choicegroup fieldset {
			width: 60%;
		}

		.frigg-problem-label {
			padding: 20px;
		}
	}
}

@media only screen and (max-width: 576px){
	.frigg-problem-1 {
		.frigg-problem-label label {
			font-size: 1.1rem;
		}

		.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
			font-size: 0.9rem;
		}

		.hint-text,
		.hint-label {
			font-size: 1rem;
		}
	}

	.frigg-container-problem.frigg-problem-multiplechoice .choicegroup fieldset {
		width: 70%;
	}

	.frigg-back-image .frigg-text-center {
		width: 90%;
		// left: 7%;
		// right: 7%;

	}
}

/**** Multiple choice with images ****/

.frigg-problem-2 {

	.problem-header {
		display: none;
	}

	.frigg-multiplechoice-images fieldset {		
		width: 100%;

		legend {
			background: #323355;
			width: 100%;
			color: $white-color;
			box-sizing: border-box;
			padding: 20px 30px;
			font-weight: 600;
			font-size: 1.5rem;

			.problem-header {
				color: $white-color;
			}

			.problem-progress {
				color: #3da9f7;
				font-size: 0.7em;
			}

			.frigg-problem-header {
				color: $white-color;
			}
		}	
	}

	.xmodule_display.xmodule_CapaModule div.problem .question-description {
		color: $white-color;
		margin: 10px 0;
		font-size: 1.2rem;
		font-weight: normal;
	}

	.frigg-description {
		padding: 0px 30px;
		font-size: 1.2rem;
	}

	.field {
		img {
			width: 200px;
			max-height: 140px;
			margin-right: 30px
		}

		label:before {
			content: "";
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #f2f2f2;
			border-radius: 50%;
			vertical-align: middle;
			position: absolute;
			left: 22px;
			top: 0;
		}

		label.label-with-images:before {
			content: "";
			display: block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #f2f2f2;
			border-radius: 50%;
			position: absolute;
			top: auto;
			left: 36px;
			z-index: 2;
		}


		label.frigg-checked:before {
			content: url(../images/inputbullet.png);
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #f2f2f2;
			border-radius: 50%;
			vertical-align: middle;
			position: absolute;
			left: 22px;
			top: 0;
		}

		label.frigg-checked.label-with-images:before {
			content: url(../images/inputbullet.png);
			display: block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #f2f2f2;
			border-radius: 50%;
			position: absolute;
			left: 36px;
			top: auto;
			z-index: 2;
		}

	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label,
	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover {
		border: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
		padding-left: 67px;
		font-size: 1.2rem;
	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.label-with-images {
		height: 150px;
		padding-left: 265px;

		img {
			position: absolute;
			left: 36px;
		}

	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup input {
		display: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit {
		float: none;
		font-size: 1.1rem;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .submission-feedback {
		color: #3c3c3c;
		font-size: 1.2rem;
	}

	.xmodule_display.xmodule_CapaModule div.problem .message,
	.xmodule_display.xmodule_CapaModule div.problem .notification {
		font-size: 1.2rem;
	}

	.problem-action-buttons-wrapper button:hover {
		border-color: #b2b2b2;
	}

	.problem-action-buttons-wrapper button:disabled {
		border: none;
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .problem-action-button-wrapper {
		border: none;
	}


	.problem {

		.submit-attempt-container {
			text-align: center;
			width: 100%;

			.submit.btn-brand {
				border-radius: 50%;
				height: 85px;
				width: 90px;
				padding: 0;
				background: #007cb8;
				color: $white-color;
			}

			.submission-feedback {
				width: 100%;
			}
		}

		.capa_alert {
			display: none;
		}

		.message {
			padding: 20px 66px;
			background: #999;
			color: $white-color;
			margin-top: 10px;

			.explanation-title,
			.hint-label {
				display: none;
			}
		}

		.problem-action-buttons-wrapper {
			width: 100%;
			text-align: center;

			.hint-button .fa-question:before {
				content: url(../images/hint-inactiv.svg);
				width: 30px;
				display: block;
			}

			.save .fa-save:before,
			.save .fa-floppy-o:before {
				content: url(../images/save.svg);
				width: 36px;
				display: block;
			}

			.reset {
				margin: 0 20% 0 25%;
				.fa-refresh:before {
					content: url(../images/reset.svg);
					width: 37px;
					display: block;
				}
			} 

			.show .fa-info-circle:before {
				content: url(../images/show-answer-inactiv.svg);
				width: 50px;
				display: block;
			}
			// .show.frigg-button-active .fa-info-circle:before{
			// 	content: url("../images/showAnswerActiv.png");
			// }

		} 
	}

	.xmodule_display.xmodule_CapaModule div.problem .action .problem-action-btn.reset {
		margin-right: 20%;
	} 

	.xmodule_display.xmodule_CapaModule div.problem .notification.general.notification-show-answer {
		border-top: none;
		background: #999999;
		color: $white-color;

		span.fa {
			display: none;
		}
	}

	.xmodule_display.xmodule_CapaModule div.problem .choicegroup {

		label.choicegroup_correct {
			border: none;

			.status.correct {
				display: none;
			}
		}

		label.choicegroup_incorrect {
			border: none;

			.status.incorrect {
				display: none;
			}
		}

		label.choicegroup_partially-correct {
			border: none;

			.status.partially-correct {
				display: none;
			}
		}

		label.choicegroup_correct:before {
			content: url(../images/inputAnswer.png);
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #7ac842;
			border-radius: 50%;
			vertical-align: middle;
			position: absolute;
			left: 22px;
			top: 0;
		}

		label.choicegroup_correct.label-with-images:before {
			content: url(../images/inputAnswer.png);
			display: block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #7ac842;
			border-radius: 50%;
			position: absolute;
			left: 36px;
			top: auto;
			z-index: 2;
		}


		label.choicegroup_incorrect:before {
			content: url(../images/inputAnswer.png);
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #ff1a27;
			border-radius: 50%;
			vertical-align: middle;
			position: absolute;
			left: 22px;
			top: 0;
		}

		label.choicegroup_incorrect.label-with-images:before {
			content: url(../images/inputAnswer.png);
			display: block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #ff1a27;
			border-radius: 50%;
			position: absolute;
			left: 36px;
			top: auto;
			z-index: 2;
		}

		label.choicegroup_partially-correct:before {
			content: url(../images/inputAnswer.png);
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #fcee20;
			border-radius: 50%;
			vertical-align: middle;
			position: absolute;
			left: 22px;
			top: 0;
		}

		label.choicegroup_partially-correct.label-with-images:before {
			content: url(../images/inputAnswer.png);
			display: block;
			width: 32px;
			height: 32px;
			margin: 5px;
			background: #fcee20;
			border-radius: 50%;
			position: absolute;
			left: 36px;
			top: auto;
			z-index: 2;
		}

	} 

	.xmodule_display.xmodule_CapaModule .problem .notification.success,
	.xmodule_display.xmodule_CapaModule .problem .notification.error,
	.xmodule_display.xmodule_CapaModule .problem .notification.warning {
		background: #e2e2e2;
		border: none;
		margin: 0;
		padding: 25px;

		span.icon {
			display: none;
		}
	} 

	.xmodule_display.xmodule_CapaModule .problem .notification.problem-hint {
		margin: 0;
		border: 0;
		background: #999999;
		padding: 25px;

		span.icon {
			display: none;
		}

		ol li {
			color: $white-color;
			strong {
				color: $white-color;
			}
		}
	}
}

/**** Accordion component ****/

.frigg-accordion .frigg-accordion-body {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.frigg-accordion .active-acc .frigg-accordion-body {
	display: block !important;
	height: auto;
	transition: max-height 0.5s ease-in-out;
}

.frigg-accordion {
	.frigg-accordion-title {
		width: 100%;
		background: none;
		box-shadow: none;
		font-size: 1.3rem;
		text-align: left;
		font-family: 'Poppins';

		&:hover,
		&:focus,
		&:active {
			background: none;
			box-shadow: none;
			color: #222266;
		}

		&:before {
			content: "\f105";
			font-family: "FontAwesome"!important;
			margin: 0 15px;
		}
	}

	.frigg-panel.active-acc .frigg-accordion-title {
		&:before {
			content: "\f107";
			font-family: "FontAwesome"!important;
			margin: 0 12px;
		}
	}

	.frigg-accordion-body {
		padding: 15px 25px;
		line-height: 1.5rem;
		letter-spacing: .02rem;

		p {
			font-family: 'Poppins';
		}
		
	}
}