
$color-blue:#23a2ff;

html body.view-in-course .window-wrap,
html body .window-wrap {
	min-width: 0;
	background: #333333;
}

/***** Header ***/
.wrapper-header .user .user-dropdown-menu .menu-dropdown-show,
.wrapper-header .user-menu .dropdown-menu .menu-dropdown-show{
	display: none;
}

.wrapper-header .course-header{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
 }

/**** Nav content ****/
.course-material .navbar-collapse {
	display: none;
    background: none;
    border: none;
    font-size: 1.7rem;
    padding-left: 25px;
    transition: ease 0.2s all;
    color: $color-blue;

    &:hover{
    	background: none;
    }

    &:active,
    &:focus{
    	box-shadow: none;
    }
}

.courseware.wrapper-course-material{
	z-index: 2;
	margin-bottom: -50px;
	position: relative;

	.course-material{
		padding: 0;

	}
}

.course-material{
	background: #fff;
}
.collapse-open{
	background: #fff;
	border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    border: 1px solid #c8c8c8;
}

.window-wrap .course-wrapper .course-content .vert-mod{
	padding-top: 60px;
}

/***** Course content *****/
html body.view-in-course .container{
		padding: 0;
	}

.window-wrap{

	.course-content .page-header{
	display: none;
	}

	.content-wrapper .page-header{
		padding-top: 60px;
	}

	.sequence-list-wrapper{
		display: none;
	}

	.course-wrapper{
		border: none;
	}

	.unit-title{
		display: none;
	}

	#main{
		padding: 0;

	}

	.course-content .bookmark-button-wrapper{
		margin:0;
		z-index: 3;
		position: relative;
	}

	.bookmark-button{
		font-size: 1.7rem;
		float: right;
		padding: 20px 20px 8px 20px;
		font-weight: 100;
		color: $color-blue;

		&:hover,
		&:focus{
			border-bottom: 3px solid;
			text-decoration: none !important;
			color: $color-blue;
		}
    	

		span{
			display: none;
		}
	}

	.sequence-bottom .bookmark-button{
		padding: 0 20px;
	}

	.xmodule_display.xmodule_SequenceModule .sequence-nav{
		float: right;
		z-index: 3;
	}

	.sequence-nav,
	.sequence-bottom{


		span:not(.fa){
			display: none;
		}

		.fa-chevron-prev:before{
			content: url("../images/navi_left.png");
		}

		.fa-chevron-next:before{
			content: url("../images/navi_right.png");
		}
	} 

	.xmodule_display.xmodule_SequenceModule .sequence-nav,
	.xmodule_display.xmodule_SequenceModule .sequence-bottom{
		margin: 0;
		margin-top: 10px;

		.sequence-nav-button{
			border: none;
			font-size: 1.5rem;
			min-width: 80px;

			&:hover{
				border-bottom: 3px solid #0075b4;
			}
		}
	}

	.course-wrapper .course-content .vert-mod .vert>.xblock-student_view{
		border: 0;
		margin: 0;
		padding: 0;
	}

	.studio-view a{
		position: relative;
		z-index: 3;
	}
}

/***Footer ***/
.wrapper-footer .social-feed{
	display: inline-block;
}


/****** Responsive - general****/
@media only screen and (max-width: 576px) {

	.window-wrap {
		

		div.info-wrapper section.handouts {
			padding: 0;
		}

		.course-header,
		.header-global.slim .course-header {
			width: 40%;
		}

		.dashboard .my-courses .course .details{

			.course-title a{
			font-size: 25px;
			line-height: 25px;
			}
			.wrapper-course-image{
				width: 100%;

				.cover{
				margin: 20px;

				.course-image{
				height: 120px;
				width: 180px;
					}
				} 
			} 

			.wrapper-course-details{
			float: none;
			width: 100%;
			}

		}

		 .course-info .course-sidebar header .social-sharing{
		 	height: 70px;
		 }

		 .course-info{

		 	.container{
		 		padding: 25px;
		 	}

		 	.details {
		 		width: 100%;
		 	}

		 	 .course-sidebar{
		 	width: 100%;
		 	padding: 10px;
		 	} 

		 	header.course-profile{
		 		padding-top: 70px;
		 		height: 500px;

		 		.intro-inner-wrapper{
		 			margin: 25px;

		 			.intro{
			 		display: block;
			 		width: 100%;
			 		}

			 		.media{
			 		display: block;
			 		width: 100%;
			 		text-align: center;

			 			.hero{
			 				width: 70%;
			 			}
			 		}

		 		} 
		 	} 
		 }

		 .wrapper-account-settings .account-settings-container{
		 	padding: 20px;
		 }

		 .account-settings-sections .section .account-settings-section-body .u-field{
		 	width: 100%;

		 	.field{
		 		width: 100%;
		 	}

		 	.u-field-message{
		 		width: 100%;
		 		padding: 10px 0;
		 	}
		 }

		 /*** Discusion ***/
	    .discussion-body .home-helpgrid .helpgrid-row {
	        display: flex;
	        flex-flow: column;

	      .row-item {
	        width: 100%;
	        padding: 10px;
	      }
	    }

	    /**** Content search ***/
	    .page-header-search{
	    	width: 100%;

	    	.search-form{
	    		width: 100%;

	    		.search-input{
	    			width: 65%;
	    		}

	    		.search-button{
	    			width: 25%;
	    		}
	    	}
	    }

	    .content-wrapper .page-header.has-secondary .page-header-secondary .form-actions{
	    	margin: 0;
	    	width: 100%;

	    	.action-resume-course{
	    		width: 95%;
			    text-align: center;
			    margin-top: 15px;
	    	}
	    }


	}	
}

@media only screen and (max-width: 768px) {

	.window-wrap {

		.container {
			min-width: 0;

			.search-responsive {
			width: 90%;
			float: none;
			}

			.my-courses{
				width: 90%;
				margin-left: 5%;
			}
		}
	}

	.view-in-course.view-course-info .window-wrap {
		min-width: 70px;
	}
		
}

/****** Responsive - PHZH ****/

@media only screen and (max-width: 768px) {
	.window-wrap {

		.wrapper-header {
			.user .user-dropdown-menu .menu-dropdown-show,
			.user-menu .dropdown-menu .menu-dropdown-show {
			display: block
			}
			
			.menu-nav-hidden {
				display: none;
			}
		}

		.content-wrapper{
			position: relative;

			.wrapper-course-material.courseware{				
				position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			}

		}

		.course-material {
			padding: 10px 0 0 0;

			.navbar-collapse {
			display: block;
			}

			.course-tabs{
				display: none;
			}

			.collapse-open{
				display: grid;
				transition: ease 0.3s all;
			}
		} 
	}
}
