.window-wrap .sequence-nav .fa-chevron-prev:before,
.window-wrap .sequence-bottom .fa-chevron-prev:before {
	content: url(../images/Icon-forward-activ.svg);
	width: 55px;
	height: 55px;
	display: block;
}

.window-wrap .sequence-nav .fa-chevron-next:before,
.window-wrap .sequence-bottom .fa-chevron-next:before {
	content: url(../images/Icon-backward-activ.svg);
	width: 55px;
	height: 55px;
	display: block;
}

@media (max-width: 991px) {
	.global-header .main-header .header-logo a {
		margin: 15px 50% 0 0;
	}
}

.course-wrapper .course-content .vert-mod > div.frigg-list ul {
	padding: 0;
}
