
$color-blue: #23A2FF;
$white: #FFF;

@import 'responsive';
@import 'discussion-overrides';
@import 'discussion-inline';

html body.view-in-course .window-wrap,
html body .window-wrap {
  min-width: 0;
  // background: #333333;
}

/***** Header ***/
.global-header .dropdown-user-menu .menu-dropdown-show {
  display: none;
}

.wrapper-header .course-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.window-wrap .header-global.slim .logo {
  @include margin(0, 10px, 0, 0);
}

.global-header .hamburger-menu {
  display: none;
}

.window-wrap .global-header {
  position: inherit;
}

.global-header .nav-links .nav-item a {
  text-decoration: none;
}

.global-header .nav-links .secondary .nav-item {
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px;
  padding: 10px 0 0;

  a {
    color: #313131;
    font-weight: 400;
  }

  a.sign-in-btn {
    color: $white;
  }

  a.register-btn {
    color: $blue-d;
  }

  .user-image-frame {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin: -10px 5px;
    width: 40px;
  }

  &.nav-item-dropdown {
    padding: 0;
    margin: 0;
  }

  .dropdown-user-menu {
    @include right(30px);
    background-color: #fff;
    border: 1px solid #313131;
    color: #313131;
    position: absolute; 
    top: 55px;
    z-index: 10;

    .dropdown-item {
      cursor: pointer;
      overflow: hidden;
      padding: 0;

      a {
        display: inline-block;
        font-weight: 400;
        padding: 10px 15px;
        width: 100%;
      }
    }

    .dropdown-item:not(:last-child) {
      border-bottom: 1px solid #e7e7e7;
    }
  }
}

/**** Nav content ****/
.course-material .navbar-collapse,
.navbar.course-tabs .navbar-collapse {
  @include padding-left(15px);
  background: none;
  border: 0;
  color: $color-blue;
  display: none !important;
  font-size: 1.7rem;
  padding-top: 15px;
  transition: all 0.2s ease;

  &:hover {
    background: none;
  }

  &:active,
  &:focus {
    box-shadow: none;
  }

  .fa-bars::before { 
    display: block;
    height: 26px;
    width: 26px;
  }
}

.course-material .navbar-collapse .fa-bars::before {
  content: url(../images/Hamburger.svg);
}

.navbar.course-tabs{
  display: block;

  .navbar-collapse {
    flex-grow: inherit;
    cursor: pointer;
    padding-bottom: 15px;

    .fa-bars::before {
      content: url(../../images/Hamburger.svg);
    }
  }
}  

.window-wrap .content-wrapper .course-tabs {
  overflow: hidden;
}

.window-wrap .wrapper-course-material {
  margin-bottom: -50px;
  position: relative;
  z-index: 2;

  .course-material {
    max-width: 1080px;
    overflow: hidden;
    padding: 0;
  }

  .course-tabs .tab a {
    border-bottom: 4px solid transparent;

    &.active {
      border-bottom-color: $blue-d;
    }

    &:hover {
      border-bottom-color: $blue-d;
    }
  }
}

body.view-in-course .courseware.wrapper-course-material,
.navbar.course-tabs {
  padding-top: 10px;
}

.course-material {
  background: $white;
}
.collapse-open {
  background: $white;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.window-wrap .course-wrapper .course-content .vert-mod {
  padding-top: 75px;
}

.content-wrapper.main-container {
  margin-top: 0;
}

.content-wrapper {
  position: relative;

  .wrapper-course-material.courseware {
    @include left(0);
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#content {
  padding: 0;
}

/***** Home *****/
.home .courses-container,
.find-courses .courses-container, {
  max-width: 1200px;
}

/***** Course content *****/

html body.view-in-course .container {
  padding: 0;
}

.window-wrap {
  .course-content .page-header {
    display: none;
  }

  .content-wrapper .course-view .page-header {
    padding-top: 60px;
  }

  .sequence-list-wrapper {
    display: none;
  }

  .course-wrapper {
    border: 0;
  }

  .unit-title {
    display: none;
  }

  #main {
    padding: 0;
  }

  .course-content {
    background: #333333;
  }

  .course-content #main {
    margin: 0 auto;
    max-width: 1080px;
    background: #fff;
  }

  .course-content .bookmark-button-wrapper {
    margin:0;
    position: relative;
    z-index: 3;
  }

  .bookmark-button {
    @include float(right);
    @include padding(23px, 0, 8px, 20px);
    color: $color-blue;
    font-size: 1.7rem;
    font-weight: 100;

    &:hover,
    &:focus {
      // border-bottom: 3px solid;
      color: $color-blue;
      text-decoration: none !important;
    }

    span {
      display: none;
    }
  }

  .course-content .bookmark-button.bookmarked:before {
    content: url(../images/icon_bookmark_activ.svg);
    display: block;
    height: 33px;
    width: 33px;
  }

  .course-content .bookmark-button:before {
    content: url(../images/icon_bookmark.svg);
    display: block;
    height: 33px;
    width: 33px;
  }

  .sequence-bottom {
    border-top: 2px solid #333333;
    box-sizing: content-box;
    padding: 10px 0;

    .bookmark-button {
      padding: 0;
    }
  }

  .xmodule_display.xmodule_SequenceModule .sequence-nav {
    @include float(right);
    height: 60px;
    z-index: 3;
  }

  .sequence-nav,
  .sequence-bottom {

    span:not(.fa) {
      display: none;
    }

    .fa-chevron-prev::before {
      content: url(../images/Icon-backward-activ.svg);
      display: block;
      height: 55px;
      width: 55px;
    }

    .fa-chevron-next::before {
      content: url(../images/Icon-forward-activ.svg);
      display: block;
      height: 55px;
      width: 55px;
    }
  }

  .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
    justify-content: flex-end;
  }

  .xmodule_display.xmodule_SequenceModule .sequence-nav,
  .xmodule_display.xmodule_SequenceModule .sequence-bottom {
    height: 60px;
    margin: 0;
    margin-top: 10px;

    .sequence-nav-button {
      border: none;
      font-size: 1.5rem;
      min-width: 60px;
      overflow: hidden;

      &:hover,
      &:active {
        // border-bottom: 3px solid #0075b4;
        background: none;
        padding-top: 0px;
      }

      &.button-previous {
        @include padding-right(0);
        order: inherit;
      }

      &.button-next {
        @include padding-left(0);
        @include padding-right(15px);
      }

      .sequence-nav-button-label {
        display: none;
      }
    }
  }

  .course-wrapper .course-content .vert-mod .vert>.xblock-student_view {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .course-wrapper .course-content .vert-mod .vert {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .studio-view a {
    position: relative;
    z-index: 3;
  }

  .xmodule_display.xmodule_VideoModule .video {
    margin: 0;
    padding: 0;
  }
}

/***Footer ***/
body .wrapper-footer {
  box-shadow: none;

  .social-feed{
    display: none;
  }

  .wrapper-logo {
    display: none;
  }

  .nav-legal {
    display: none;
  }

  footer#footer-openedx {

    .colophon {
      margin: 0;
      width: 100%;
    }

    .nav-colophon {
      @include float(left);
      @include margin(5px, 0, 30px, 0)
    }

    .copyright {
      color: #767676;
      font-size: .6875em;
      margin: -2px 0 8px 0;
      text-align: left;
    }

    .footer-about-openedx {
      @include float(right);
      margin: 0;
    }

    .footer-about-openedx p {
      margin: 0;
    }

    .nav-colophon ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .colophon .nav-colophon li {
      float: left;
      margin-right: 15px;
    }
  }
}

.container.tos,
.container.privacy {
  padding: 40px 50px;

  h4 {
    margin: 10px 0;
    font-size: 1.4em;
  }

  h5 {
    margin: 10px;
  }

  p,
  li {
    line-height: 1.1;
  }
}
