
/****** Responsive - general****/

@media only screen and (max-width: 576px) {
  .window-wrap {
    div.info-wrapper section.handouts {
      padding: 0;
    }

    .course-header,
    .header-global.slim .course-header {
      width: 40%;
    }

    .dashboard .my-courses .course .details {
      .course-title a {
        font-size: 25px;
        line-height: 25px;
      }

      .wrapper-course-image {
        width: 100%;
      }

      .wrapper-course-image .cover .course-image {
        height: 120px;
        width: 180px;
      }

      .wrapper-course-details {
        float: none;
        width: 100%;
      }
    }

    .course-info .course-sidebar header .social-sharing {
      height: 70px;
    }

    .course-info {
      .container {
        padding: 25px;
      }

      .details {
        width: 100%;
      }

      .course-sidebar {
        padding: 10px;
        width: 100%;
      }

      header.course-profile {
        padding-top: 70px;
        height: 500px;
      }

      header.course-profile .intro-inner-wrapper {
        margin: 25px;
      }

      header.course-profile .intro-inner-wrapper .intro {
        display: block;
        width: 100%;
      }

      header.course-profile .intro-inner-wrapper .media {
        display: block;
        text-align: center;
        width: 100%;
      }

      header.course-profile .intro-inner-wrapper .hero {
        width: 70%;
      }
    }

    .wrapper-account-settings .account-settings-container {
      padding: 20px;
    }

    .account-settings-sections .section .account-settings-section-body .u-field {
      width: 100%;

      .field {
        width: 100%;
      }

      .u-field-message {
        padding: 10px 0;
        width: 100%;
      }
    }

     /*** Discusion ***/
    .discussion-body .home-helpgrid .helpgrid-row {
      display: flex;
      flex-flow: column;

      .row-item,
      .row-item-full {
        padding: 10px;
        width: 100%;
      }
     }

    /**** Content search ***/
    .page-header-search {
      width: 100%;

      .search-form {
        width: 100%;
      }

      .search-input {
        width: 65%;
      }

      .search-button {
        width: 25%;
      }
    }

    .view-discussion-home .helpgrid-row .row-item-full .row-description {
      width: 60%;
    }

    .course-view .page-header.has-secondary .page-header-secondary .form-actions {
      margin: 0;
      width: 100%;

      .action-resume-course {
        margin-top: 15px;
        text-align: center;
        width: 95%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
  .window-wrap .container.dashboard {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .window-wrap {
    .container {
      min-width: 0;

      .search-responsive {
        float: none;
        width: 90%;
      }

      .my-courses {
        @include margin-left(5%);
        width: 90%;
      }
    }
  }

  .view-in-course.view-course-info .window-wrap {
    min-width: 70px;
  }

  .content-wrapper .dashboard .main-container .my-courses .course .details .wrapper-course-image {
    display: block;
    max-width: 184px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .window-wrap .global-header {
    .main-header {
      align-items: center;
      display: flex;
      height: 60px;
      justify-content: space-between;

      .header-logo,
      .secondary {
        margin-bottom: 0;
        padding: 0 20px;
      }
    }

    .header-logo a .logo {
      max-width: max-content;
    }

    .dropdown-user-menu .menu-dropdown-show {
      display: block;
    }

    .menu-nav-hidden {
      display: none !important;
    }
  }
}

/*** Responsive Discussion tab ***/

@media only screen and (max-width: 768px){
  .window-wrap .discussion-body .forum-nav-browse-menu,
  .window-wrap .discussion-body .forum-nav-thread-list {
    height: 362px !important;
  }

  .window-wrap .discussion-body .forum-nav {
    height: 400px !important;
  }

  .window-wrap .discussion-body .discussion-column {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 576px) {
  .window-wrap .discussion-board .page-header-secondary {
    width: 100%;
  }

  .window-wrap.discussion-board .page-header-secondary{
    width: 100%;
  }
}

/****** Responsive - PHZH ****/

@media only screen and (max-width: 860px){
  .window-wrap {
    .course-material,
    .navbar.course-tabs {
      .course-tabs,
      .navbar-nav {
        display: none;
      }

      .navbar-collapse {
        display: block !important;
      }

      .collapse-open {
        display: grid;
        margin-top: 10px;
        transition: all 0.2s ease;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .window-wrap {
    .course-material {
      padding: 10px 0 0 0;
    }

    .xmodule_display.xmodule_SequenceModule nav.sequence-bottom  .bookmark-button {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 576px){
  body .wrapper-footer footer#footer-openedx .colophon {
    .footer-about-openedx {
      width: 30%;
    }

    .nav-colophon {
      margin-top: 8px;

      li a {
        font-size: .7rem;
      }
    }
  }
}

/*** Responsive inline Discussion ***/

@media only screen and (max-width: 768px){
  .window-wrap {
    .discussion-container .discussion-module .forum-new-post-form .js-post-title.field-input {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 576px){
  .window-wrap {
    .discussion-container .discussion-module .discussion-module-header .inline-discussion-topic {
      font-size: 1rem !important;
    }
  }
}
