<!DOCTYPE html>
<html>
<head dir="ltr">
	<meta charset="utf-8">
	<title>Eir Components</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/vendor/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/phzh/css/lms-main-v1.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/phzh/css/lms-course.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/discussion/inline-discussion.css">

	<!-- for highlight -->
	<link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css"/>
	<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css"/>

	<style>
	.eir-header-element{
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
	}

	.eir-header-element h2{
		flex-basis: 0;
		flex-grow: 1;
	}

	.eir-source-code{
		display: none;
	}

	.vert.showSource .eir-container-element{
		display: none;
	}
	.vert.showSource .eir-source-code{
		display: block;
	}

	.eir-source-code .code .container .line{
		white-space: pre-wrap !important; 
	}



</style>

</head>
<body class="ltr view-in-course view-courseware courseware">
	<div class="window-wrap">
		<diV class="content-wrapper  main-container">
			<div class="container">
				<div class="course-wrapper">
					<section class="course-content">
						<main id="main">
							<div class="xblock xblock-student_view xblock-student_view-sequential xmodule_display xmodule_SequenceModule xblock-initialized">
								<div class="sequence">
									<div id="seq_content">
										<div class="xblock xblock-student_view xblock-student_view-vertical xblock-initialized">
											<div class="vert-mod">
												<div class="vert">
													<div class="eir-header-element">
														<h2>E1 Header Topic and Unit</h2>
														<button class="eir-header-button">View Source</button>
													</div>							

													<div class="eir-container-element eir-back-image">
														<img src="../static/images/t2_header.png" class="back-image"> 
														<div class="eir-text-container eir-center eir-text-center">
															<img class="eir-icon" src="../static/images/icon_t2.png">
															<div class="eir-vertical-spacer"></div>
															<div style="
															color: #a175ff;
															font-size: 25px;
															font-family: 'Poppins';
															">Topic 2</div>
															<div class="eir-vertical-spacer"></div>
															<div style="
															color: #fff;
															font-size: 35px;
															font-family: 'IBM Plex Sans';
															">That's important to me, you and us!</div>
														</div>
													</div>

													<div class="eir-source-code">
														<pre class="brush: html">
															<div class="eir-container-element eir-back-image">
																<img src="../static/images/t2_header.png" class="back-image"> 
																<div class="eir-text-container eir-center eir-text-center">
																	<img class="eir-icon" src="../static/images/icon_t2.png">
																	<div class="eir-vertical-spacer"></div>
																	<div>Topic 2</div>
																	<div class="eir-vertical-spacer"></div>
																	<div>That's important to me, you and us!</div>
																</div>
															</div>
														</pre>
													</div>


												</div>

												<div class="vert">
													<div class="eir-header-element">
														<h2>E3 Simple Text</h2>
														<button class="eir-header-button">View Source</button>
													</div>									
													<div class="eir-container-element eir-paragraph" style="
													font-family: 'Roboto';
													color: #fff;
													background: #202020; 
													">
													In the unit «Fair for all of us» you will learn about specific and universal rules. In «Step 1» you will consider a set of rules and decide which ones are fair or unfair, and if they make sense at all.  In «Step 2» you will take part in a thought experiment, create you own rules, discuss the results in class, and share the results in a discussion group. Afterwards you will read about the declaration of Human Rights and its articles in «Step 3» and decide which ones you consider fair or unfair. The unit ends with a «Self-evaluation».					
												</div>
												<div class="eir-source-code">
													<pre class="brush: html">
														<div class="eir-container-element eir-paragraph" style="
														font-family: 'Roboto';
														color: #fff;
														background: #202020; 
														">
														In the unit «Fair for all of us» you will learn about specific and universal rules. In «Step 1» you will consider a set of rules and decide which ones are fair or unfair, and if they make sense at all.  In «Step 2» you will take part in a thought experiment, create you own rules, discuss the results in class, and share the results in a discussion group. Afterwards you will read about the declaration of Human Rights and its articles in «Step 3» and decide which ones you consider fair or unfair. The unit ends with a «Self-evaluation».					
													</div>
												</pre>
											</div>												
										</div>

										<div class="vert">	
											<div class="eir-header-element">
												<h2>E4 Instructional Text</h2>
												<button class="eir-header-button">View Source</button>
											</div>												


											<div class="eir-container-element" style="
											font-family: 'Roboto';	
											background: #e6e6e6;												
											">
											<div class="eir-text-container">
												<img class="eir-icon eir-center " src="../static/images/icon_t2_u3.png">
												<div class="eir-title" style="
												font-family: 'Poppins';
												">Unit objectives: after studying this unit...</div>
												<div class="eir-list">
													<ul>
														<li><img src="../static/images/bullet.png"> I am able to understand the importance and limitations of universal rules. I am able to understand the importance and limitations of universal rules</li>
														<li><img src="../static/images/bullet.png"> I can take part in a discussion by stating my point of view and giving reasons.</li>
														<li><img src="../static/images/bullet.png"> I am able to change my perspective and view a problem from another point of view</li>
													</ul>
												</div>

											</div>
											<div class="eir-paragraph" style="
											font-family: 'Roboto';
											">
											In this unit you will learn and understand specific and universal rules. In «Step 1» you read a set of rules and decide which ones are fair or unfair and if they make sense at all. In «Step 2» you will take part in a thought experiment, create you own rules and discuss the results in class. You will then share the results in a discussion group. You will read about the declaration of Human Rights and its articles in «Step 3» and decide which ones you consider fair or unfair. This unit ends with a «Self-evaluation».				
										</div>																
									</div>	
									<div class="eir-source-code">
										<pre class="brush: html">
											<div class="eir-container-element" style="
											font-family: 'Roboto';	
											background: #e6e6e6;												
											">
											<div class="eir-text-container">
												<img class="eir-icon eir-center " src="../static/images/icon_t2_u3.png">
												<div class="eir-title" style="
												font-family: 'Poppins';
												">Unit objectives: after studying this unit...</div>
												<div class="eir-list">
													<ul>
														<li><img src="../static/images/bullet.png"> I am able to understand the importance and limitations of universal rules. I am able to understand the importance and limitations of universal rules</li>
														<li><img src="../static/images/bullet.png"> I can take part in a discussion by stating my point of view and giving reasons.</li>
														<li><img src="../static/images/bullet.png"> I am able to change my perspective and view a problem from another point of view</li>
													</ul>
												</div>

											</div>
											<div class="eir-paragraph" style="
											font-family: 'Roboto';
											">
											In this unit you will learn and understand specific and universal rules. In «Step 1» you read a set of rules and decide which ones are fair or unfair and if they make sense at all. In «Step 2» you will take part in a thought experiment, create you own rules and discuss the results in class. You will then share the results in a discussion group. You will read about the declaration of Human Rights and its articles in «Step 3» and decide which ones you consider fair or unfair. This unit ends with a «Self-evaluation».				
										</div>
									</pre>
								</div>																		
							</div>

							<div class="vert">	
								<div class="eir-header-element">
									<h2>E5 Header Step</h2>
									<button class="eir-header-button">View Source</button>
								</div>												


								<div class="eir-container-element eir-back-image">
									<img src="../static/images/t2_u3_s2_header.png" class="back-image"> 
									<div class="eir-text-container eir-center eir-text-center">
										<img class="eir-icon" src="../static/images/icon_t2_u3.png">
										<div class="eir-vertical-spacer"></div>
										<div style="
										color: #fff;
										font-size: 25px;
										font-family: 'Poppins';
										">Fair for all of us</div>
										<div class="eir-vertical-spacer"></div>
										<div class="eir-title" style="
										color: #fff;
										font-size: 35px;
										font-family: 'IBM Plex Sans';
										">Step 2</div>
										<img class="eir-icon" src="../static/images/icon_time.png" style="
										width: 50px;
										padding-bottom: 0;
										">
										<div style="
										color: #fff;
										font-size: 16px;
										">~ 120 min</div>
									</div>
								</div>

								<div class="eir-source-code">
									<pre class="brush: html">
										<div class="eir-container-element eir-back-image">
											<img src="../static/images/t2_u3_s2_header.png" class="back-image"> 
											<div class="eir-text-container eir-center eir-text-center">
												<img class="eir-icon" src="../static/images/icon_t2_u3.png">
												<div class="eir-vertical-spacer"></div>
												<div style="
												color: #fff;
												font-size: 25px;
												font-family: 'Poppins';
												">Fair for all of us</div>
												<div class="eir-vertical-spacer"></div>
												<div class="eir-title" style="
												color: #fff;
												font-size: 35px;
												font-family: 'IBM Plex Sans';
												">Step 2</div>
												<img class="eir-icon" src="../static/images/icon_time.png" style="
												width: 50px;
												padding-bottom: 0;
												">
												<div style="
												color: #fff;
												font-size: 16px;
												">~ 120 min</div>
											</div>
										</div>
									</pre>
								</div>


							</div>

							<div class="vert">
								<div class="eir-header-element">
									<h2>E6 Header Step</h2>
									<button class="eir-header-button">View Source</button>
								</div>																


								<div class="eir-container-element eir-back-image">
									<img src="../static/images/t2_u3_s2_pic1.png" class="back-image"> 
									<div class="eir-text-container eir-left eir-title-top">
										<div style="
										color: #fff;
										font-size: 25px;
										font-family: 'Poppins';
										">Make an exciting experiment!</div>													
									</div>
								</div>


								<div class="eir-source-code">
									<pre class="brush: html">
										<div class="eir-container-element eir-back-image">
											<img src="../static/images/t2_u3_s2_pic1.png" class="back-image"> 
											<div class="eir-text-container eir-left eir-title-top">
												<div style="
												color: #fff;
												font-size: 25px;
												font-family: 'Poppins';
												">Make an exciting experiment!</div>													
											</div>
										</div>
									</pre>
								</div>

							</div>

							<div class="vert">
								<div class="eir-header-element">
									<h2>E7 Task</h2>
									<button class="eir-header-button">View Source</button>
								</div>													


								<div class="eir-container-element" style="
								font-family: 'Roboto';	
								background: #e9e9d6;												
								">
								<div class="eir-text-container">
									<img class="eir-icon eir-center " src="../static/images/icon_alone.png">
									<div class="eir-center" style="
									font-size: 25px;
									font-family: 'Poppins';
									font-style: italic;
									">Task 1</div>
									<div class="eir-vertical-spacer"></div>
									<div class="eir-title" style="
									font-family: 'Poppins';
									">Read the following thought experiment:</div>
								</div>


								<div class="eir-paragraph" style="
								font-family: 'Roboto';
								">
								Imagine you and your colleagues in this class had the possibility to determine the basic rules for the society you will live in. These rules will apply for everyone. While you and your colleagues discuss the rules and agree on the best ones, you are behind the veil of ignorance. Veil of ignorance means that you do not know, what you will be in this future society. When you have agreed on the rules and the veil of ignorance gets lifted, you might be rich or poor. You might be healthy, sick or have a disability. You might be a man, a woman, a child or an old person. You do not know the colour of your skin. You might be born and live in Brazil, Iceland, Afghanistan, Switzerland or any country around the world. You do not know which interests or skills you will have, nor what religion you belong to. You might be a Jew, Muslim, Christian, Bahai, or it might be that you do not believe in God at all.		
							</div>

							<div class="eir-paragraph eir-center" style="
							font-family: 'Roboto';
							font-weight: bold;
							">
							While you can make the rules for society, you cannot change human nature. Some people will be nice, others selfish, some will be cruel, others nobel and generous. 
							(Idea by: Rawls, John (1971). A Theory of Justice)		
						</div>

					</div>	

					<div class="eir-source-code">
						<pre class="brush: html">
							<div class="eir-container-element" style="
							font-family: 'Roboto';	
							background: #e9e9d6;												
							">
							<div class="eir-text-container">
								<img class="eir-icon eir-center " src="../static/images/icon_alone.png">
								<div class="eir-center" style="
								font-size: 25px;
								font-family: 'Poppins';
								font-style: italic;
								">Task 1</div>
								<div class="eir-vertical-spacer"></div>
								<div class="eir-title" style="
								font-family: 'Poppins';
								">Read the following thought experiment:</div>
							</div>


							<div class="eir-paragraph" style="
							font-family: 'Roboto';
							">
							Imagine you and your colleagues in this class had the possibility to determine the basic rules for the society you will live in. These rules will apply for everyone. While you and your colleagues discuss the rules and agree on the best ones, you are behind the veil of ignorance. Veil of ignorance means that you do not know, what you will be in this future society. When you have agreed on the rules and the veil of ignorance gets lifted, you might be rich or poor. You might be healthy, sick or have a disability. You might be a man, a woman, a child or an old person. You do not know the colour of your skin. You might be born and live in Brazil, Iceland, Afghanistan, Switzerland or any country around the world. You do not know which interests or skills you will have, nor what religion you belong to. You might be a Jew, Muslim, Christian, Bahai, or it might be that you do not believe in God at all.		
						</div>

						<div class="eir-paragraph eir-center" style="
						font-family: 'Roboto';
						font-weight: bold;
						">
						While you can make the rules for society, you cannot change human nature. Some people will be nice, others selfish, some will be cruel, others nobel and generous. 
						(Idea by: Rawls, John (1971). A Theory of Justice)		
					</div>

				</div>	

			</pre>
		</div>																		
	</div>

	<div class="vert">	
		<div class="eir-header-element">
			<h2>E9 Header Step</h2>
			<button class="eir-header-button">View Source</button>
		</div>														


		<div class="eir-container-element eir-image-border">
			<img src="../static/images/t2_u3_s2_pic2.png"> 
		</div>

		<div class="eir-source-code">
			<pre class="brush: html">
				<div class="eir-container-element eir-image-border">
					<img src="../static/images/t2_u3_s2_pic2.png"> 
				</div>
			</pre>
		</div>	

	</div>
</div>
</div>
</div>
</div>								
</div>							
</main>
</section>
</div>				
</div>			
</diV>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shCore.js"></script>
<script type="text/javascript" src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushXml.js"></script>

<script type="text/javascript">
	SyntaxHighlighter.defaults['toolbar'] = false;
	SyntaxHighlighter.defaults['tab-size'] = 2;
	SyntaxHighlighter.all();
	$(window).load(function(){
		$(".eir-header-button").click(function(){
			var t = $(this),
			e = $(this).closest(".vert");
			e.toggleClass("showSource"),
			e.hasClass("showSource") ? t.html("View Live") : t.html("View Source")
		});
	})

</script>
</body>
</html>